<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctor list</title>
    {% load static %}
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{% static 'hospitalapp/css/style4.css' %}" rel="stylesheet">
</head>
<body>
    <h1>List of all Items</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Name</th>
                <th>Location</th>
                <th>Category</th>
                <th>S.phno</th>
                <th>S.email</th>
            </tr>
        </thead>
        <tbody>
            {% for doctor in alldoctors %}
                <tr>
                    <td>{{ doctor.name }}</td>
                    <td>{{ doctor.address }}</td>
                    <td>{{ doctor.field }}</td>
                    <td>{{ doctor.phno }}</td>
                    <td>{{ doctor.email }}</td>
                    <td>
                        <a href="{% url 'deletedoctor' doctor.pk %}"><button>Delete</button></a>
                    </td>
                    <td>
                    <a href="{% url 'singledoc' doctor.pk %}">
                        <button>View</button></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <a href="{% url 'admin' %}">
        <button>Back</button></a>
</body>
</html>